$primary-color: #C9AC68;
$secondary-color: #5A3B00;
$light-grey:#FAFAFA;
$white:#FFFFFF;

$primary-color-light: rgba(#C9AC68,0.54);
$primary-color-lighter: rgba(#C9AC68, 0.12);

$secondary-color-light: rgba(#5A3B00,0.54);
$secondary-color-lighter: rgba(#5A3B00,0.38);

$light-grey-light: rgba(#FAFAFA,0.38);
$light-grey-lightER: rgba(#FAFAFA,0.12);

