//font styles
@import"https://fonts.googleapis.com/css?family=Rubik";

$font-family: rubik;
$base-font-size: 24px;

//font size
$font-small: 13px;
$font-normal: $font-family;
$font-medium: 14px;
$font-larger: 18px;
$font-largest: 56px;

//line-spacing
$spacing-medium: 20;
$spacing-normal: 72;

